.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/src/main/generated/
/src/test/generated/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Docker ###
/deployment/db/

### macOS ###
.DS_Store
